//
   Created by Admin on 10/06/2016.

p bạn anh khánh
.btn.btn-primary(ng-click="submitQuestion()") question
.btn.btn-primary(ng-click="submitPack()") question  pack
.btn.btn-primary(ng-click="onDeleteQuestion()") delete  question
.btn.btn-primary(ng-click="onDeleteQuestionPack()") delete  question  pack
.btn.btn-primary(ng-click="onEditQuestion()") edit  question
.btn.btn-primary(ng-click="onEditQuestionPack()") edit  question  pack
