
section.main
  .row
    .main__sidebar.col-xs-3
      ul.nav.nav-stacked.nav-pills
        li.active(role="presentation")
          a(href='#') Posts
        li(role="presentation")
          a(href='/about-us')
        li(role="presentation")
          a(href='#') {{categories[0].name}}
    .main__content.col-xs-9
      .main__content__category.row
        select.form-control(ng-model="category" ng-change="onCategorySelect()")
          option(ng-repeat="category in categories" ng-value="category.urlName") {{category.name}}
      .main__content__menu.row
        a(href="/create-post")
          .btn.btn-success Add

        span.text-danger {{currentCategory}}
      .main__content__table.row
        table.table.table-bordered
          tr
            th Title
            th Author
            th Content
            th Date
            th Action
          tr(ng-repeat="post in posts" ng-if="!post.hide")
            td {{post.title}}
            td {{post.author}}
            td(ng-bind-html="post.content")
            td {{post.date}}
            td
              .btn.btn-warning(ng-click="onEditPost(post)") Edit
              .btn.btn-danger(ng-click="onDeletePost(post)") Delete








footer


